/*
Colors used:
Primary Color (black): #000000;
Secondary Color (Gray): #808080;
Secondary Color  (Blue) 95d6e8 */


main {
  padding-top: 133px;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px; /* Sets the font size to 16px */
  font-weight: 300; /* Sets the font weight to 300 */
  line-height: 1.6; /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
  margin: 0 auto; /* No spacing to top and bottom and auto spacing to left and right */
padding: 10px;
}

header {
  background-color: #D3D3D3;
  text-align: center;
   padding: 0px;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
}

header ul {
  padding-left: 0;
  text-align: center;
}

header li {
display: inline-block;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}
h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}

.centered-title {
  text-align: center;
  }

img {
  width: 100%;
}

a {
  color: #000000;
  text-decoration: none; /* No underlining */
}
a:visited { /* visited link */
  color: #000000;
}

}
a:active { /* selected link */
  color: #ffffff;
}

a:hover,
a:focus {
  color: #000000;

}
.button {
  display: inline-block; /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #808080;
  color: #ffffff; /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 0px;
  border-bottom: 0px solid #000000; /* width of the border, type, color */
  transition: 0.4s opacity;
}
.button:visited { /* visited link */
  color: #ffffff;
}
.button:hover { /* visited link */
  color: #000000;
}

.button-center {
  text-align: center;
}

.container {
  max-width: 1200px;
}

/* Layout styling */

footer {
  background-color: #D3D3D3;
   padding: 10px;
}
footer .button-center {
  margin-bottom: 30px;
  }

.container {
  padding: 0 0px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.column {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}

.center {
  text-align: center;
}

#work h2 {
  text-align: center; /* Centers text */
}

#contact h2 {
  text-align: center; /* Centers text */
}

#topnav h2 {
  text-align: center; /* Centers text */
}

#eat to live h1 {
  text-align: center; /* Centers text */
}

#socialmedia {
  text-align: center; /* Centers text */
}

#hero {
  background-color: #a9a9a9;
  padding: 20px 20px;
  display: inline-block;
 width: 100%;
}

#hero h3 {
  margin: 0;
  padding: 0.67em 0;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }
}

#hero span {
  display: block;
}

.col-md-6 {
  width: 50%;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#about-page h3 { margin-top: 0;}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
}
/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}
